<div class="cnt-princ">
  <div class="cnt-title">
    <h1>Contratos</h1>
    <p>
      En FurryMatch nos tomamos en serio tu seguridad y la de tus mascotas.<br />Es por eso que en esta sección tenés la posibilidad de
      crear contratos que podrás personalizar antes de realizar el cruce de tu mascota
    </p>
  </div>
  <div class="cnt-dates">
    <div class="login-wrapper">
      <div *ngFor="let petEntry of getPetDataValues()" class="pet-entry">
        <div class="contract-with">Mi contrato con {{ petEntry.pet.name }}</div>
        <img *ngIf="petEntry.photo?.photoUrl" [src]="petEntry.photo?.photoUrl" alt="Pet photo" class="img-objective" />
        <div class="txt-pet">
          <div class="objective-text">
            {{ petEntry.pet.name }}
          </div>
        </div>
      </div>
      <div class="content-wrapper" *ngIf="hasNoContract()">
        <span class="content-text">
          <h1 class="h1-black">¡Creá un contrato!</h1>
          <p>
            <span class="tip">Tip:</span> Antes de comenzar, te recomendamos que te pongas de acuerdo con el otro dueño(a) para poder crear
            un contrato en la que ambas partes estén satisfechas.
          </p>
        </span>
        <button class="btn-blue">Crear contrato</button>
      </div>
    </div>
  </div>
</div>
